body .gform_legacy_markup_wrapper ul li.gfield label {
    padding-top: 6px !important;
    font-weight: 400 !important;
    color: #484846 !important
}

.knauf {

    .gform_legacy_markup_wrapper .field_sublabel_below .ginput_complex.ginput_container label,
    .gform_legacy_markup_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
        margin: 1px 0 9px 1px !important;
        padding-top: 0px !important;
        color: #dbdbdb !important;
    }

    .gform_legacy_markup_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        font-size: 15px !important;
        font-family: inherit;
        padding: 5px 4px;
        letter-spacing: normal;
        font-weight: 300 !important;
    }

    .gform_fileupload_rules {
        display: flex !important;
        font-size: .813em !important;
    }

    input.button {
        background-color: #009fe3 !important;
        color: #ffffff !important;
        padding: 16px 20px !important;
        text-align: center !important;
        text-decoration: none !important;
        text-transform: uppercase !important;
        height: unset !important;
    }

    input {
        height: 35px !important;
        border: 1px solid #dbdbdb !important;
    }

    select {
        height: 35px !important;
        border: 1px solid #dbdbdb !important;
    }

    .gform_button_select_files {
        border: 1px solid #aaa !important;
        background: #f4f4f4 !important;
        padding: 10px !important
    }

    .ginput_container.ginput_container_consent {
        display: flex !important;
    }

    input[type="checkbox" i] {
        margin-right: 15px !important;
    }

}